Repository kadragon/knue-policy-vectorizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pytest-unit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        files: \.py$
        args: [--check]

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        files: \.py$
        args: [--check-only]

      - id: mypy
        name: mypy (optional)
        entry: bash -c 'uv run mypy src/ || echo "mypy check failed - continuing"'
        language: system
        files: ^src/.*\.py$
        pass_filenames: false

      - id: pytest-unit
        name: pytest (unit tests)
        entry: uv run pytest
        language: system
        files: \.py$
        args: [tests/, -v, -m, "not slow", --tb=short]
        pass_filenames: false

[Structural] Fix test failures by aligning mocks with implementation signatures
  tests/pipelines/test_sync_pipeline.py
  tests/utils/test_html_cleaning.py
Due: black, isort, pytest-unit

refactor: remove config backup, profile, and cleanup features
  README.md
  config/qdrant.yml
  src/config/config_manager.py
  src/pipelines/sync_pipeline.py
Due: black, isort, mypy, pytest-unit

refactor: remove encryption functionality
  config/secrets/.key
  src/config/config_manager.py
Due: black, isort, mypy, pytest-unit

refactor: simplify template management - move from filesystem to in-memory
  config/templates/openai-cloud.json
  config/templates/production-high-performance.json
  src/config/config_manager.py
  tests/test_setup.py
Due: black, isort, mypy, pytest-unit

[Structural] Restructure agents and tasks folders for modular policy management
  .agents/10-policies/development-practices.md
  .agents/30-roles/AGENTS.md
  .agents/40-templates/AGENTS.md
  .agents/90-overrides/AGENTS.md
  .agents/AGENTS.md
  .spec/SPEC_INDEX.md
  .tasks/TASKS_INDEX.md
  .tasks/_archive/2025/Q4/ARCHIVE_INDEX.md
  .tasks/_archive/2025/Q4/cloudflare-r2-sync/PLAN.md
  .tasks/_archive/2025/Q4/cloudflare-r2-sync/PROGRESS.md
  .tasks/_archive/2025/Q4/cloudflare-r2-sync/RESEARCH.md
  .tasks/_archive/2025/Q4/cloudflare-r2-sync/SPEC-DELTA.md
  .tasks/_archive/2025/Q4/refactor-src-folder/PLAN.md
  .tasks/_archive/2025/Q4/refactor-src-folder/PROGRESS.md
  .tasks/_archive/2025/Q4/refactor-src-folder/RESEARCH.md
  .tasks/_archive/2025/Q4/refactor-src-folder/SPEC-DELTA.md
  .tasks/remove-env-export-feature/PROGRESS.md
  .tasks/remove-env-export-feature/RESEARCH.md
  README.md
  tests/fixtures/samples/정책1_학사관리.md
  tests/fixtures/samples/정책2_장학금.md
  tests/fixtures/samples/정책3_기숙사.md
Due: none

[Behavioral](docs) Address PR review feedback: fix brittle fixture path only [PR-30]
  .agents/10-policies/development-practices.md
  README.md
  tests/config/test_config_env.py
  tests/core/test_git_watcher.py
  tests/pipelines/test_cli_providers.py
  tests/pipelines/test_r2_sync_pipeline.py
  tests/services/test_qdrant_service.py
  tests/services/test_qdrant_service_cloud.py
Due: black, isort, pytest-unit

[Structural](cleanup) Remove obsolete CLI commands and config management code [PR-30]
  src/pipelines/sync_pipeline.py
  tests/pipelines/test_cli_providers.py
Due: black, isort, mypy, pytest-unit

Remove daily cron schedule from R2 sync workflow
  .github/workflows/daily-r2-sync.yml
Due: none

Remove daily cron schedule from workflow
  .github/workflows/daily-vector-sync.yml
Due: none
